@import url(./index.css);

.section_buttonMenu-button {
    position: fixed;
    bottom: 80px;
    right: var(--PaddingHorizontalMobile);
    width: 56rem;
    height: 56rem;
    border-radius: 50%;
    background-color: var(--FeriaPpal);
    background-image: url(../assets/icon_support_white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    box-shadow: var(--Shadow);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.section_buttonMenu-button.active {
    background-color: white;
    background-image: url(../assets/icon_support_blue.png);

}
.section_buttonMenu-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--AzulClaro);
    opacity: 0;
    transition: all 0.25s 0.35s  ease-in;
    overflow: hidden;
}
.section_buttonMenu-container.active {
    width: 100%;
    height: 100%;
    opacity: 0.95;
}
.section_buttonMenu-container-circle1, .section_buttonMenu-container-circle2, .section_buttonMenu-container-circle3 {
    position: fixed;
    bottom: 80px;
    right: var(--PaddingHorizontalMobile);
    width: 56rem;
    height: 56rem;
    border-radius: 50%;
    z-index: 2;
    box-shadow: var(--Shadow);
    background-color: var(--AzulClaro);
    opacity: 1;
    transition: all 0.25s ease-in;
}
.section_buttonMenu-container-circle1.active {
    width: 160rem;
    height: 160rem;
    transform: translateX(52rem) translateY(52rem);
    z-index: 4;
}

.section_buttonMenu-container-circle2{
    transition: all 0.25s 0.15s ease-in;  
}
    .section_buttonMenu-container-circle2.active {
        width: 260rem;
        height: 260rem;
        transform: translateX(102rem) translateY(102rem);
        z-index: 3;
        opacity: .5;
    }
.section_buttonMenu-container-circle2{
    transition: all 0.25s 0.2s ease-in;  
}
    .section_buttonMenu-container-circle3.active {
        width: 380rem;
        height: 380rem;
        transform: translateX(164rem) translateY(164rem);
        z-index: 2;
        opacity: .25;

    }