@import url(./index.css);


h2 {
    font-size: 48rem;
}
.dfc {
    display: flex;
    flex-direction: column;
}

.hamburger_menu {
    top: 80rem;
    right: 125rem;
}

/* BUTTON MENU */
.section_buttonMenu-button {
    bottom: 80px;
    right: var(--PaddingHorizontalDesktop);
}
.section_buttonMenu-container-circle1, .section_buttonMenu-container-circle2, .section_buttonMenu-container-circle3 {
    bottom: 80px;
    right: var(--PaddingHorizontalDesktop);
}

/* SECTION HERO */
.hero_container {
    padding: 96rem var(--PaddingHorizontalDesktop);
    padding-bottom: 0;
    gap: 120rem;
}
    .title {
        flex-direction: row;
        align-items: flex-start;
        gap: 16rem;
    }
    .title > div {
        padding-top: 9rem;
    }
.hero_container-bottom {
    padding-bottom: 48rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: none;
    padding: 64rem var(--PaddingHorizontalDesktop);
}
.hero_container-bottom div {
    gap: 8rem;
    align-self: center;
}
.video_container {
    max-height: none;
    height: 100vh;
    width: 100%;
    overflow:visible;
}
    .videos {
        position: absolute;
        height: auto;
        width: 100%;
    }

    #video1 {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

/* SECTION QUIENES SOMOS*/

.section_somos {
    padding: var(--PaddingHorizontalDesktop);
}
    .section_somos-Container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 32rem;
        padding: 0;
    }
        .section_somos-img {
            width: auto;
            height: auto;
            background-image: url(../assets/Img_nosotros_tablet.jpg);
            background-position-x: center;
            background-position-y: bottom;
            background-size: cover;
            -webkit-mask-image: linear-gradient(to bottom, transparent 5%, rgb(255, 255, 255) 50%);
            mask-image: linear-gradient(to bottom, transparent 5%, rgb(255, 255, 255) 50%);
        }
        .section_somos-line {
            width: 2px;
            height: auto;
        }
        .section_somos-textContainer-pMobile {
            display: none;
        }
        .section_somos-textContainer-pDesktop {
            display: block;
        }

    