
:root {
    --AzulClaro: #B0BFFF;
    --PurpuraClaro: #EAE9FB;
    --AzulOscuro: #0A0926;
    --FeriaPpal: #3A37E0;
    --PaddingVertical: 5.6rem;
    --PaddingHorizontalMobile: 24rem;
    --PaddingHorizontalTablet: 88rem;
    --PaddingHorizontalDesktop: 140rem;
    --PaddingHorizontalWide: 140rem;
    --FontSizeRoot: 6.25%;
    --Shadow: 0px 0px 16px #0a092632;
}
* {
    box-sizing: border-box;
    margin: 0;

}

html {
    font-family: neue-haas-unica, sans-serif;
    font-size: var(--FontSizeRoot);
}

body {
    position: relative;
    margin: 0;
    background: var(--AzulOscuro);
}
a {
    text-decoration: none;
    color: white;
}
p {
    font-size: 16rem;
    color: white;
    font-weight: 300;
    line-height: 120%;
    margin: 0;
}
h2 {
    font-size: 32rem;
    font-weight: 200;
    line-height: 110%;
    font-style: normal;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 8px var(--AzulOscuro, 0.25);
}
h3 {
    font-size: 36rem;
    font-weight: 100;
    color: white;
    padding: 0;
    line-height: 110%;
}
h4 {
    font-size: 16rem;
    font-weight: 300;
    color: white;
    padding: 0;
    line-height: 110%;
}

.dfc {
    display: flex;
    flex-direction: column;
}

.hamburger_menu {
    position: fixed;
    z-index: 10;
    top: 10rem;
    right: 10rem;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16rem;
    font-size: 14rem;
    font-weight: 100;
    color: white;
}
    .link img {
        width: 32rem;
        padding-top: 4rem;
    }
/* SECTION HERO */
.section_hero {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    min-height: 100vh;
    background-color: var(--AzulOscuro);
    overflow: hidden;
    z-index: -1;
    opacity: 1;
    transition: all 0.75s ease-in;
}
.section_hero.active {
    opacity: 0;
}

    .hero_container{
        align-items: flex-start;
        width: 100vw;
        padding: var(--PaddingHorizontalMobile);
        padding-bottom: 0;
        gap: 208rem;
        z-index: 1;
        
    }
        .logo {
            height: 32rem;
        }
        .heroTitles {
            z-index: 2; 
            gap: 16rem;
        }
        .title {
            display: flex;
            flex-direction: column;
        }
        .title > div {
            display: flex;
            flex-direction: column;
        }
        .title_span-1, .title_span-2 , .title_span-3  {
            animation: aparecer 1s cubic-bezier(0.5, 0, 0.1, 1); 
        }
            @keyframes aparecer {
                from {clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
                to {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
            }
        #title2, #title3{
            display: none;
        }
        #slideCounter {
            font-size: 16rem;
        }

   .hero_container-bottom {
       width: 100%;
       gap: 64rem;
       align-items: center;
       padding-bottom: var(--PaddingHorizontalMobile);
       z-index: 1;       
   }
        .hero_container-bottom div {
            gap: 8rem;
        }
        .hero_container-bottom div span {
            color: white;
            font-size: 12rem;
        }
        .hero_container-bottom div img {
            height: 8rem;
            animation: bounce  1s ease-in-out infinite;
        }
            @keyframes bounce {
                0% {
                    transform: translateY(-2rem);
                }
                
                50% {
                    transform: translateY(2rem);
                }
                100% {
                    transform: translateY(-2rem);
                }                
            }
   .video_container {
        position: absolute;
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        min-height: 100vh;
        top: 0;
        overflow: hidden;
    }
        .videos {
            position: absolute;
            height: 100vh;
            min-height: 100vh;
            object-fit: cover;
        }


/* SECTION QUIENES SOMOS */
 
.section_somos {
    z-index: 3;
    padding: 64px var(--PaddingHorizontalMobile);
    background: linear-gradient(180deg, rgba(0, 0, 255, 0),var(--AzulOscuro) 30%);}

    .section_somos>div {
        display: flex;
        flex-direction: column;
        gap: 64rem;
    }
        .section_somos-subtitle {
            padding: 200px 0;
        }
        .section_somos-Container {
            display: flex;
            flex-direction: column;
            gap: 64rem;
        }
            .section_somos-img {
                width: 100%;
                height: 512px;
                background-image: url(../assets/Img_nosotros_mobile.jpg);
                background-position: center;
                background-size: cover;
                -webkit-mask-image: linear-gradient(to bottom, transparent 5%, rgb(255, 255, 255) 50%);
                mask-image: linear-gradient(to bottom, transparent 5%, rgb(255, 255, 255) 50%);
            }
            .section_somos-line {
                width: 100%;
                height: 2px;
                background-color: var(--FeriaPpal);
            }
            .section_somos-textContainer {
                display: flex;
                flex-direction: column;
                gap: 24rem;
            }
            .section_somos-textContainer-pDesktop {
                display: none;
            }
            .section_somos-textContainer p span  {
                color: var(--AzulClaro);
            }

/* SECTION PARTICIPANTES */
.section_participantes {
    background-color: white;
    padding: var(--PaddingHorizontalMobile);
    padding-right: 0;
    min-height: 100vh;
}
.section_participantes-container {
    display: flex;
    flex-direction: column;
    gap: 64rem;
    overflow-x: scroll ;
}
.participantes_texto h2 {
    color: var(--FeriaPpal);
    font-weight: 300;
    margin-bottom: 24rem;
    text-shadow: none;
}
.participantes_texto p {
    color: var(--AzulOscuro);
}

.participantes_scroll{
    width: auto;
    height: auto;
    display: flex;
}
.participantes_card {
    display: flex;
    min-width: 278rem;
    height: 469rem;
    flex-direction: column;  
    overflow: hidden;  
}
.participantes_card + img {
    height: 284rem;    
}
.participantes_card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    padding: 24rem 16rem;
    background-color: var(--AzulOscuro);
}
.card_container-title {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.participantes_card-container div:nth-child(2) {
    background-color: white;
    height: 2px;
    width: 50rem;
}
.participantes_card-container p {
    font-size: 14rem;
    font-weight: 100;
    line-height: 120%;
}
.card_container-title {
    height: 100%;
}
   
    