@import url(./index.css);


h2 {
    font-size: 48rem;
}
.dfc {
    display: flex;
    flex-direction: column;
}
/* MENU */
.hamburger_menu {
    top: 70rem;
    right: 70rem;
}
    .ham {
        width: 70px;
    }

.menuTemp {
    padding: var( --PaddingHorizontalTablet);
}

.menuLinks_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    gap: 24rem;
    padding: 24rem;
    }

    .menuSiguenos {
        display: none;
    }
    .menuSiguenos2 {
        align-items: flex-start;
    }
    .menuSiguenos2 div{
        display: flex;
        flex-direction: row;
        gap: 16rem;
      }
    

    .menuImage {
        display: flex;
        align-self: center;
      }


.menuLinks_container-links {
    width: auto;
    padding: 16rem 0;
    gap: 24rem;
  }
.menuLinks_container-contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16rem;
}
.menuLinks_container-contactos > div {
    display: flex;
    flex-direction: column;
}
.menuLinks_container-contactos span {
    font-size: 20rem;
    color: white;
    font-weight: 100;
}
.menuLinks_container-contactos a {
    font-size: 14rem;
    color: var(--AzulClaro);
    font-weight: 100;
}


/* SECTION HERO */
.hero_container {
    padding: var(--PaddingHorizontalTablet);
}
    .logo {
        height: 40rem;
    }
    #slideCounter {
        font-size: 20rem;
    }
.hero_container-bottom {
    padding-bottom: 48rem;
}
.video_container {
    max-height: none;
    height: 100vh;
    width: 100%;
    overflow:visible;
}
    .videos {
        position: absolute;
        height: 100%;
        width: auto;
    }

    #video1 {
        height: auto;
        width: 100%;
        object-fit: cover;
    }