body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

.hamburger_menu {
    position: fixed;
    top: 64px;
    right: 64px;
}

.line1 {
    position: absolute;
    top: 40vh;
    left: 10vw;
    width: 100px;
    height: 3px;
    background-color: aquamarine;
    z-index: 2;
}